#navigation-bar {
	overflow: hidden;
	position: absolute;
	width: 100%;
	top: 0%;
	left: 0%;
	height: 10%;
	border: medium;
	border-bottom: 2px solid #DADCE0;
	min-height: 50px;
}

.navigation-link {
	display: inline-block;
	height: 100%;
	margin: 0px 0px 0px 25px;
}

.navigation-link a {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	top: 50%;
	margin-top: -1.4em;
	color: #473D3F;
	text-decoration: none;
	font-weight: 600;
	font-size: 150%;
	width: 10%;
}